<html>
<head>
		<title>Log in page</title>
		<style>
		body{font-family:"verdana";}
	    .header {background:#00FFFF;text-align:center;padding: 10px;}
		.footer {background:#00FFFF;text-align:center;padding: 10px;color:#006400 ;}
		.coding{width:1500px ;margin: 10; background:#006400;color:#FC8C41 ;}
		.main{min-height:580px;text-align:center;}
		.header h2,.footer h2 {margin:0 auto;}
		
		</style>
</head>
<body>
<div class="coding">
<section class="header">
	<h2> <span style='color:006400'>Welcome to Our Site</span> </h2>
</section>
<section class="main">
		
		<html>
			<head>
				<title><b>Log IN</b></title>
			</head>
			<form method="post">
				<body>
					<h3>Nick NAME</h3>
					<input type="text" name="nname" />
					<h3>Password</h3>
					<input type="password" name="password" />
					<br /><br />
					<input type="submit" name="Login" value="Login" />
					<a href=""><span style='color:#00FFFF'>GO to Registration</span></a>
					
				</body>
			</form>
		</html>
		
		
		

</section>	
<section class="footer">
	<h2>/login</h2>
</section>
</div>
</body>
</html>
